<%- include('partials/header') %>
<script>
      const token = localStorage.getItem('token');
      if (!token) {
            window.location.href = '/';
      }
</script>
<main>
      <%- include('partials/create-form') %>
</main>

<%- include('partials/footer') %>